<%- include('./includes/adminHead.ejs') %>
<%- include('./includes/adminNavbar.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
<style>
    .image-item img { max-width: 150px; }
    .image-item { position: relative; margin: 10px; }
    .image-item button { position: absolute; top: 5px; right: 5px; }
     #cropArea img { width: 100%; height: auto; }
    .modal-body { padding: 0; }
    .form-section { padding: 15px; }
</style>
<section class="content-main">
    <div class="content-header row">
        <div class="col-md-6 col-sm-4">
            <h2 class="content-title card-title">Add Products</h2>
            <p>Add a Product</p>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Product</h4>
                    <div id="errorContainer" class="alert alert-danger" style="display: none;"></div>
                    <form id="productForm" class="form" action="/addProduct" method="POST" enctype="multipart/form-data" onsubmit="return validateProductForm()">
                        <div class="row">
                            <div class="col-md-6 form-section">
                                <h4 class="card-title">Product Features</h4>
                                  <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control" id="productName" name="productName" placeholder="Product Name">
                                    <div id="errorName" class="alert-danger" style="display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="productDescription">Product Description</label>
                                    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Product Description"></textarea>
                                    <div id="errorDescription" class="alert-danger" style="display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Category</label>
                                    <select id="category" class="form-control" name="categoryId" >
                                        <option value="">--SELECT--</option>
                                        <% for( let category of values ) { %>  
                                            <option value="<%= category._id %>"><%= category.catName %></option>
                                        <% } %>  
                                    </select>
                                    <div id="errorCategory" class="alert-danger" style="display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label name='lblbrand'>Brands</label>
                                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand" >
                                    <div id="errorBrand" class="alert-danger" style="display: none;"></div>
                                </div>
        <h4><label >Product size variants</label></h4>
        <div id="variantContainer"></div>                    
        <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#variantModal">
            Add Variant
        </button>
        <div id="errorVarient" class="alert-danger" style="display: none;"></div>
        <input type="hidden" name="variantArray" id="variant" >
         <div class="form-group col-4">
                <label name="rating">Rating</label>
                <input type="number" class="form-control" id="rating" name="rating" placeholder="Rating" >
                <div id="errorRating" class="alert-danger" style="display: none;"></div>
         </div>  
                      </div>
                        <div class="col-md-6 form-section">
                            <h4 class="card-title">Product Image</h4>
                                <div class="form-group">
                                    <label for="fileInput">Image</label>
                                    <div class="input-group col-xs-12">
                                        <input id="fileInput" type="file" name="image" multiple class="form-control btn btn-primary" placeholder="Upload Image" >
                                        <div id="errorImage" class="alert-danger" style="display: none;"></div>
                                    </div>
                                    <h5>Selected Images</h5>
                                    <div id="imageContainer" class="row m-3"></div>
                                </div>
                                <div id="preview" class="mt-5">
                                    <h2>Cropped Images</h2>
                                    <div class="row" id="croppedImages"></div>
                                </div>
                            </div>
                        </div>
                     <div id="hiddenContainer"></div>   
                     <div class="d-flex row col-sm-4">
                        <button type="submit" class="btn btn-primary btn-sm mt-4">Submit</button>
                        <button type="reset" class="btn mr-2"><a class="btn btn-outline-primary" href="/product">Cancel</a></button>
                     </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="variantModal" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="variantModalLabel">Add Variant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="addVariantForm">
                  <div class="form-group">
                      <label for="vprice">Price</label>
                      <input type="number" class="form-control" id="vprice" required>
                      <div class="alert-danger" role="alert" style="display: none;" id="errorPrice"> </div>
                  </div>
                  <div class="form-group">
                      <label for="vsize">Size</label>
                      <select id="vsize" class="form-control"  required>
                        <option value="">--SELECT--</option>
                        <option value="50g">50gm</option>
                        <option value="100g">100gm</option>
                        <option value="200g">200gm</option>
                        <option value="250g">250gm</option>
                        <option value="500g">500gm</option>
                        <option value="1kg">1kg</option>
                        <option value="2kg">2kg</option>
                        <option value="5kg">5kg</option>
                        <option value="10kg">10kg</option>
                    </select> 
                    <div class="alert-danger" role="alert" style="display: none;" id="errorSize"> </div>
                  </div>
                  <div class="form-group">
                      <label for="vquantity">Quantity</label>
                      <input type="number" class="form-control" id="vquantity" required>
                      <div class="alert-danger" role="alert" style="display: none;" id="errorQuantity"> </div>
                  </div>
                  <div class="form-group">
                      <label for="vdiscount">Discount</label>
                      <input type="number" class="form-control" id="vdiscount">
                      <div class="alert-danger" role="alert" style="display: none;" id="errorDiscount"> </div>
                  </div>
                  <button type="button" class="btn btn-primary" onclick="addVariant()">Add</button>
              </form>
          </div>
      </div>
    </div>
 </div>
<!-- Modal for cropping -->
<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cropModalLabel">Crop Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="cropArea" style="height: 500px; width: 100%;">
                    <img id="image" style="max-width: 100%;height:auto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="cropButton" type="button" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="/script/cropper.js"></script>
<script src="/script/productValidations.js"></script>
<script>
    let variants = [];
    function addVariant() {
        console.log("Add varient !");
        const price = document.getElementById('vprice').value;
        const size = document.getElementById('vsize').value;
        const quantity = document.getElementById('vquantity').value;
        const discount = document.getElementById('vdiscount').value;
        const errorPrice = document.getElementById('errorPrice');
        const errorQuantity = document.getElementById('errorQuantity');
        const errorSize = document.getElementById('errorSize');
        const errorDiscount = document.getElementById('errorDiscount');
        
        if(price === '' || price < 0 || price > 10000 || isNaN(price)){
            errorPrice.style.display ="block";
            errorPrice.innerHTML = "Invalid price !";
            return;
        }
        if(isNaN(quantity) || quantity < 0 || quantity >50 || quantity === '') {
              errorQuantity.style.display ="block";
              errorQuantity.innerHTML = "Invalid Quantity !";
              return;
        }
        if(isNaN(discount)|| discount <=-1 || discount >15 || discount ===''){
              errorDiscount.style.display ="block";
              errorDiscount.innerHTML = "Invalid Discount !";
              return;
        }
        if(size === ""){
              errorSize.style.display ="block";
              errorSize.innerHTML = "Invalid Size !";
              return; 
        }
       
        document.getElementById('addVariantForm').reset();
        if (variants.some(variant => variant.size === size)) {
            Swal.fire("Varient Size should be Unique!");
            return;
        }
        
       const variant = {
            quantity: quantity,
            price: price,
            size: size,
            discount: discount
        };
        variants.push(variant);
        appendVariantToForm(variant);
       // document.getElementById('variantModal').style.display = "none";
        console.log("Variant vales ::"+variants);
        document.getElementById('variant').value= JSON.stringify(variants);
        console.log("Variants :"+ (document.getElementById('variant').value));
        
    }
    function appendVariantToForm(variant) {
        const container = document.getElementById('variantContainer');
        const variantDiv = document.createElement('div');
        variantDiv.className = 'form-group';
        variantDiv.innerHTML = `
    <div class="row align-items-end varient-row" >
         <div class="form-group col-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" name="price[]" value="${variant.price}"readonly >
        </div>
        <div class="form-group col-2">
            <label class="form-label">Size</label>
            <input type="text" class="form-control" name="size[]" value="${variant.size}"readonly >
        </div>
        <div class="form-group col-2">
            <label class="form-label">Quantity</label>
            <input type="number" class="form-control" name="quantity[]" value="${variant.quantity}" readonly>
        </div>
        <div class="form-group col-2">
            <label class="form-label">Discount</label>
            <input type="text" class="form-control" name="discount[]" value="${variant.discount}" readonly>
        </div>
        <div class="form-group col-auto">
            <label class="form-label">Actions</label>
            <div class="d-flex">
                <a onclick="deleteVarient(this)">
                    <img width="24" height="24" src="https://img.icons8.com/material/24/filled-trash.png" alt="filled-trash"/>
                </a>
            </div>
        </div>
    </div>
 `;
  container.appendChild(variantDiv);
 }

 function deleteVarient(element){
    try {
        console.log("Inside Delete varient !");
        const parent = element.parentElement.parentElement.parentElement.parentElement; // Traversing up
        if (parent && parent.classList.contains('form-group')) {
            console.log("Inside if condition!!");
            const index = parent.dataset.index; 
            variants.splice(index, 1); // Remove the variant from the array
            parent.remove(); // Remove the row from the DOM
            console.log("Values  After Delete::"+variants);
            document.getElementById('variant').value= JSON.stringify(variants);
            document.getElementById('variant').value=variants;
        } else {
            throw new Error('Form group not found');
        }
    } catch (error) {
        console.error('Error deleting variant row:', error.message);
    }
  }

</script>
 
<%- include('./includes/adminFooter.ejs') %>
