<%- include('Header') %>
<%- include('Navbar') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or Soft delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <%  if(message.error) { %>
                                <div class="alert alert-danger" role="alert">
                                   <%= message.error %>
                                </div>
                            <% } %>
                            <form action="/addCategorySubmit" method="POST">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="catName"  id="name" onclick="return validateForm()" required/>
                                </div>
                                <div class="d-grid">
                                    <input type="submit" class="btn btn-primary" class="Create category">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                             <th>No</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% catList.forEach((row,index) => {  %>
                                                <tr>
                                                  <th > <%= ++index %></th>
                                                  <td> <%= row.catName %> </td>
                                                  <td> <% if(row.catStatus){ %> 
                                                      Active
                                                      <% }else {  %> 
                                                          UnList 
                                                      <% }  %>  </td>
                                                  <td class="d-flex flex-row"> 
                                                   <div >
                                                      <a href="/editCategory/<%= row._id %>">
                                                        <img width="24" height="24" src="https://img.icons8.com/plumpy/24/edit--v1.png" alt="edit--v1"/>
                                                      </a>
                                                 </div>
                                                <% if(row.catStatus) { %> 
                                                 <div >
                                                    <a onclick="confirmUnlistCategory('<%= row._id %>')">    
                                                       <img width="16" height="16" src="https://img.icons8.com/tiny-color/16/ok.png" alt="ok"/>
                                                    </a>  
                                                    </div> 
                                                 <% }else { %> 
                                                  <div >
                                                    <a  onclick="confirmlistCategory('<%= row._id %>')">
                                                        <img width="16" height="16" src="https://img.icons8.com/emoji/48/cross-mark-button-emoji.png" alt="cross-mark-button-emoji"/>
                                                    </a>
                                                </div> 
                                                  <% }  %>  
                                              </td>  
                                            </tr>
                                         <% } ) %>
                                                                                                                                                                                                                     
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
       
         <script>
           
            function confirmUnlistCategory(catId){
                 Swal.fire({
                    title : 'UnList Category !',
                    text : 'Are you sure you want to Unlist this category ?',
                    icon :'info',
                    showCancelButton :true,
                    confirmButtonColor :'#28a745',
                    cancelButtonColor :'#3085d6',
                    confirmButtonText :'Yes , UnList !'
                }).then((result) => {
                   if(result.isConfirmed){
                        fetch(`/unListCategory?id=${catId}`,{method:'PATCH'})
                         window.location.reload();
                 }
                })
            }
            function confirmlistCategory(catId){
                 Swal.fire({
                    title : 'List Category !',
                    text : 'Are you sure you want to List again this category ?',
                    icon :'info',
                    showCancelButton :true,
                    confirmButtonColor :'#28a745',
                    cancelButtonColor :'#3085d6',
                    confirmButtonText :'Yes , List !'
                }).then((result) => {
                   if(result.isConfirmed){
                        fetch(`/listCategory?id=${catId}`,{method:'PATCH'});
                        window.location.reload();
                   }
                });
            }
        function validateForm(){
            const name = document.getElementById('name').value.trim();
            const regEx =  /^[A-Za-z/s]{3,15}$/
            if(name !== "" && regEx.test(name) ){
                 return true;
            }
            return false;
        }
            
        </script>
        

      <%- include('Footer') %>  