<%- include('userHeader') %>
<%- include('userNavBar') %>

<div class="container">
    <section class="section-content padding-y bg">
        <div class="row">
            <main class="col-lg-8">
              
                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Cart Details</h4>
                        <% let total, grandTotal, productDiscount, amount %>
                        <% grandTotal = productDiscount = 0 %>
                        <div class="row">
                            <% cart.items.forEach((item) => { %>
                                <div class="col-md-6 mb-4"> 
                                    <figure class="itemside">
                                        <div class="aside">
                                            <img src="/images/productImages/<%= item.product.image[0] %>" class="border img-sm" alt="<%= item.product.productName %>">
                                        </div>
                                        <figcaption class="info">
                                            <p class="title"><%= item.product.productName %></p>
                                            <% item.product.varient.forEach((val) => { %> 
                                                <% if(val.size === item.size) { %>
                                                    <% total = val.price * item.quantity %>
                                                    <% grandTotal += total %>
                                                    <% productDiscount += item.quantity * val.discount %>
                                                    <span class="text-muted"><%= item.quantity %>x₹<%= val.price %> = ₹<%= total %> </span>
                                                <% } %>
                                            <% }) %>
                                            <small class="text-muted d-block">Size: <%= item.size %></small>
                                        </figcaption>
                                    </figure>
                                </div> 
                            <% }) %>
                        </div>
                    </div>
                </article>

                <article class="card mb-4">
                    <div class="card-body">
                        <div class="toggle_info mb-3">
                            <span>
                                <i class="fi-rs-label mr-10"></i>
                                <span class="text-muted">Have a coupon?</span>
                                <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a>
                            </span>
                        </div>
                        <div class="panel-collapse collapse coupon_form" id="coupon">
                            <div class="panel-body">
                                <p class="mb-3 font-sm">Available Coupons:</p>
                                <div class="row row-cols-1 row-cols-md-2 g-3 mb-4">
                                    <% coupon.forEach(function(value) { %>
                                        <% if(value.isListed) { %>
                                            <% 
                                                amount = grandTotal - productDiscount; // Use the amount after product discount
                                                const isApplicable = value.minimumAmount <= amount; 
                                                const cardClass = isApplicable ? 'border-success' : 'border-danger';
                                                const textClass = isApplicable ? 'text-success' : 'text-danger'; // Changed color class for better visibility
                                            %>
                                            <div class="col">
                                                <div class="card border <%= cardClass %>">
                                                    <div class="card-body">
                                                        <a data-toggle="tooltip" data-placement="top" title="<%= value.description %> -- Discount: <%= value.maximumAmount %> -- Minimum Purchase: <%= value.minimumAmount %>">
                                                            <h5 class="card-title <%= textClass %>"><strong>Coupon: <%= value.coupon %></strong></h5>
                                                        </a>
                                                        <% if (!isApplicable) { %>
                                                            <small class="text-danger">Min purchase of ₹<%= value.minimumAmount %> required</small>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% }); %>
                                </div>

                                <p class="mb-3 font-sm">If you have a coupon code, please apply it below.</p>
                                <div class="row g-2">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter Coupon Code..." id="inpCoupon" class="form-control" name="coupon">
                                            <div role="alert" class="alert-danger mt-1" id="errorCoupon"></div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary w-100" id="btnApplyCoupon" onclick="applyCoupon()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="couponDetails" class="mt-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                  <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Choose Delivery Address</h4>
                        <form id="addressSelectionForm"> 
                            <div class="row">
                                <% if(address && address.length > 0) { %>
                                    <% address.forEach((row,index) => { %>
                                        <% const isFirst = (index === 0) %>
                                        <div class="col-md-3 mb-3"> 
                                            <div class="card border p-3 h-100">
                                                <div class="form-check">
                                                    <input type="radio" 
                                                           name="address" 
                                                           class="form-check-input" 
                                                           value="<%= row._id %>" 
                                                           id="address_<%= row._id %>" 
                                                           form="orderForm"
                                                           <%= isFirst ? 'checked' : '' %>
                                                    >
                                                    <label class="form-check-label" for="address_<%= row._id %>">
                                                        <h5 class="mb-1 <%= isFirst ? 'text-primary' : '' %>"><%= row.type %> <%= isFirst ? '(Default)' : '' %></h5>
                                                        <p class="small mb-0">
                                                            <%= row.firstName + " " + row.lastName %><br>
                                                            <%= row.house %>, <%= row.landMark %><br>
                                                            <%= row.street %>, <%= row.palce %><br>
                                                            <%= row.city %>, <%= row.state %> - <%= row.pincode %><br>
                                                            <%= row.country %><br>
                                                            Phone: <%= row.mobile %>
                                                        </p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <div class="col-12"><p class="text-danger">No saved addresses found. Please add one.</p></div>
                                <% } %>
                            </div>
                        </form>
                        
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressShow">
                                Add New Address
                            </button>
                        </div>
                        <div role="alert" class="alert-danger mt-3" id="errorAddress" style="display:none;"></div>
                    </div>
                </div>

            </main> 
            
            <aside class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Order Summary</h4>
                        <% amount = grandTotal - productDiscount %>
                        
                        <dl class="dlist-align">
                            <dt>Total Items Price:</dt>
                            <dd class="text-end">₹<%= grandTotal.toFixed(2) %></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Product Discount:</dt>
                            <dd class="text-end text-danger">- ₹<%= productDiscount.toFixed(2) %></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Subtotal (Before Tax):</dt>
                            <dd class="text-end" id="amountAfterDiscount">₹<%= amount.toFixed(2) %></dd> 
                        </dl>
                        
                        <% const gstAmount = amount * 0.05 %>
                        <dl class="dlist-align">
                            <dt>GST (5%):</dt>
                            <dd id="gst" class="text-end">₹<%= gstAmount.toFixed(2) %></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Delivery Charges:</dt>
                            <dd id="delivery" class="text-end">₹0.00</dd>
                        </dl>
                        <hr>
                        <dl class="dlist-align">
                            <dt>Final Total:</dt>
                            <% const finalAmount = amount ; %>
                            <dd class="text-end text-dark b"><strong id="amountTotal">₹<%= finalAmount.toFixed(2) %></strong></dd>
                            <input type="hidden" id="initialTotalAmount" value="<%= finalAmount.toFixed(2) %>"> 
                        </dl>
                        <hr>

                        <dl class="dlist-align mb-3">
                            <dt>Your Wallet Balance:</dt>
                            <dd class="text-end text-success">₹<strong id="walletBalanceDisplay"><%= wallet.balance.toFixed(2) %></strong></dd>
                        </dl>
                        <hr>

                        <div id="couponContainer" style="display:none" class="mb-3">
                            <dl class="dlist-align">
                                <dt class="text-success"><b>Coupon Applied:</b></dt>
                                <dd class="text-end" id="couponName"></dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Coupon Discount:</dt>
                                <dd class="text-end text-danger" id="damount"></dd>
                            </dl>
                            <div class="text-end mb-3">
                                <a href='/checkOut/<%= cart.user %>' class="text-danger small">Remove coupon</a>
                            </div>
                            <hr>
                            <dl class="dlist-align">
                                <dt>Final Payable Total:</dt>
                                <dd class="text-end text-dark b"><strong id="amountAfterCoupon">₹<%= finalAmount.toFixed(2) %></strong></dd>
                            </dl>
                            <input type="hidden" id="couponApplied" name="couponName" form="orderForm">
                        </div>

                        <form action="/placeOrder" method="post" onsubmit="return validateForm()" id="orderForm">
                            <article class="card mb-4 p-3">
                                <div class="card-body p-0">
                                    <h6 class="card-title mb-3">Choose Payment Method</h6>
                                    
                                    <% 
                                        const isWalletSufficient = wallet.balance >= finalAmount; 
                                        const walletDisabled = !isWalletSufficient || finalAmount <= 0;
                                    %>

                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="paymentMethod" value="COD" id="cod" form="orderForm" <%= finalAmount > 1000 ? 'disabled' : '' %>>
                                        <label class="form-check-label text-muted" for="cod">Cash On Delivery <%= finalAmount > 1000 ? ' (Max ₹1000)' : '' %></label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="paymentMethod" value="RazorPay" id="razorPay" form="orderForm">
                                        <label class="form-check-label text-muted" for="razorPay">RazorPay</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="paymentMethod" value="Wallet" id="Wallet" form="orderForm" <%= walletDisabled ? 'disabled' : '' %>>
                                        <label class="form-check-label text-muted" for="Wallet">
                                            Wallet 
                                            <% if (walletDisabled) { %>
                                                <small class="text-danger">(Insufficient Balance or Zero Total)</small>
                                            <% } %>
                                        </label>
                                    </div>
                                    <div role="alert" class="alert-danger mt-2" id="errorPayment"></div>
                                </div>
                            </article>
                            
                            <input type="hidden" id="paymentFailed" name="isPaymentFailed" form="orderForm">
                            <input type="submit" value="Place Order" class="btn btn-secondary w-100">
                        </form>

                    </div>
                </div>
            </aside> 
        </div>
    </section>
  </div>
<div class="modal fade" id="addressShow" tabindex="-1" aria-labelledby="addressShowLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressShowLabel">Add New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addAddressForm" action="/address" method="POST">
                    <input type="hidden" name="next" value="placeOrder" />
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>First Name</label>
                            <input type="text" name="firstName" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Last Name</label>
                            <input type="text" name="lastName" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label" for="form11Example6"> Address Type </label>
                            <div data-mdb-input-init class="form-outline mb-4 p-2 form-grop d-flex row">
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="Home" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                Home
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Office">
                                <label class="form-check-label" for="exampleRadios2">
                                Office
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" id="rbOther" value="Other">
                                <label class="form-check-label" for="exampleRadios3">
                                Other
                                </label>
                            </div>    
                         </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>House / Flat</label>
                            <input type="text" name="house" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Landmark</label>
                            <input type="text" name="landMark" class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Street</label>
                            <input type="text" name="street" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Place</label>
                            <input type="text" name="place" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>City</label>
                            <input type="text" name="city" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>State</label>
                            <input type="text" name="state" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Pincode</label>
                            <input type="text" name="pincode" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Country</label>
                            <input type="text" name="country" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mobile</label>
                            <input type="text" name="mobile" class="form-control" required>
                        </div>
                        <div class="col-12 text-end">
                               <input type="hidden" name="userId" value="<%= cart.user %>" />
                            <button type="submit" class="btn btn-primary">Save Address</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    // Helper function to get the current payable amount (either the initial total or the coupon total)
    function getCurrentPayableAmount() {
        const finalElement = document.getElementById('amountAfterCoupon');
        if (finalElement && finalElement.style.display !== 'none' && finalElement.textContent.trim() !== '') {
            // If the coupon container is visible and has a value, use the amount after coupon
            return parseFloat(finalElement.textContent.trim().replace('₹', ''));
        }
        return parseFloat(document.getElementById('initialTotalAmount').value); 
    }

    function applyCoupon(){ 
        event.preventDefault();
        console.log("Inside apply coupon");
        const inpCoupon = document.getElementById('inpCoupon').value.trim();
        const currentTotal = getCurrentPayableAmount(); // Use the corrected function

        if(inpCoupon === ""){
             document.getElementById('errorCoupon').innerHTML="Please input coupon code !!";
             return;
        }
        
        fetch(`/applyCoupon/${inpCoupon}/${currentTotal}`,{
            method:'get',
            headers:{'Content-Type':'application/json'},
        }).then(response => response.json())
        .then(data => {
            document.getElementById('errorCoupon').innerHTML = "";
            if(data.error){
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: data.error, // Use the error message from the server
                    showConfirmButton: false,
                    timer: 1500
                });
            }else{
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Coupon Successfully applied !",
                    showConfirmButton: false,
                    timer: 1500
                });
                
                updateCouponData(data);
                
                // Hide the coupon input area, but keep the card body open to show the applied coupon details
                document.getElementById('coupon').classList.remove('show'); 
                
                // Update Wallet Payment Eligibility after coupon discount
                updateWalletEligibility(data.total);

            }
        }).catch(err => {
            console.log("Error occured !!"+err);
        })
    }
    
    function updateCouponData(data){
        document.getElementById("couponContainer").style.display="block"; 
        document.getElementById('couponName').innerText = data.name;
        document.getElementById('damount').innerText = `- ₹${data.discountAmount.toFixed(2)}`;
        // Update the Final Payable Total display in the summary
        document.getElementById('amountAfterCoupon').innerText = `₹${data.total.toFixed(2)}`; 
        document.getElementById('couponApplied').value = data.coupon;
        // Also update the main total display to reflect the lowest price for RazorPay/Wallet
        document.getElementById('amountTotal').innerText = `₹${data.total.toFixed(2)}`;
    }
    
     function updateWalletEligibility(newTotal) {
        const walletBalance = parseFloat('<%= wallet.balance %>'); 
        const walletInput = document.getElementById('Wallet');
        const walletLabel = document.querySelector('label[for="Wallet"]');
        
        const isSufficient = walletBalance >= newTotal;

        if (isSufficient) {
            walletInput.disabled = false;
            walletLabel.innerHTML = "Wallet";
        } else {
            walletInput.disabled = true;
            walletInput.checked = false; 
            walletLabel.innerHTML = 'Wallet <small class="text-danger">(Insufficient Balance)</small>';
        }
    }
    
    function validateForm(){
        const selectedAddress = document.querySelector('input[name="address"]:checked');
        const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
        
        if(!selectedAddress ){
            Swal.fire({ icon: 'error', title: 'Oops...', text: 'Please Select a delivery address.', });
            return false;
        }
        if(!selectedPaymentMethod){
            Swal.fire({ icon: 'error', title: 'Oops...', text: 'Please Select any payment method !', });
            return false;
        }
        return true; 
    }
    
//----------------------------razorpay & wallet--------------------------------------------------------------------

const walletBalance = parseFloat('<%= wallet && wallet.balance ? wallet.balance : 0 %>'); 

document.getElementById('orderForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    if (!validateForm()) {
        return;
    }

    const formData = new FormData(e.target);
    const paymentOption = formData.get('paymentMethod');
    const totalPrice = getCurrentPayableAmount(); 

    if(paymentOption === 'COD'){
        // If COD is selected and validation passed, submit the form directly
        e.target.submit();
        return;
    }
    
    if (paymentOption === 'Wallet' ) { 
        if(walletBalance >= totalPrice){
            // If Wallet is selected and balance is sufficient, submit the form directly
            e.target.submit();
        }else{
             // This case should be prevented by the radio button being disabled, but safe to check
             Swal.fire({
                 icon: 'error',
                 title: 'Insufficient Balance',
                 text: 'Insufficient balance in your wallet.',
                 showConfirmButton: false, 
                 timer: 3000 
             });
             return; 
        }
    }
    
    if (paymentOption === 'RazorPay') {
        console.log("----RazorPay Initialization------ Total: " + totalPrice);
        var options = {
            key: 'rzp_test_RFA9E8G1qbwK0g',
            amount: totalPrice * 100, // Razorpay amount is in paise
            currency: "INR",
            name: "Organic Life",
            description: "Order Payment",
            image: "https://example.com/logo.png", // Replace with your actual logo URL

            handler: function (response) {
                console.log("Payment successful");
                document.getElementById('paymentFailed').value = false;
                e.target.submit(); // Submit the form after successful payment
            },
            prefill: {
                name: "<%= userData.name %>",
                email: "<%= userData.email %>", 
                contact: "<%= userData.mobile %>",
            },
            theme: {
                color: "#3399cc",
            },
            modal: {
                ondismiss: function() {
                     // Optionally handle dismiss if needed
                     console.log('Payment modal closed without completing payment');
                }
            }
        };
        var rzp = new Razorpay(options);
        rzp.open();

        rzp.on("payment.failed", function (response){
            document.getElementById('paymentFailed').value = true;
            console.log("Payment failed");
            e.target.submit(); // Submit the form even on failure to log the attempt
        })
    }
});

// document.getElementById('addAddressForm').addEventListener('submit', async function(e){
//     e.preventDefault();

//     const form = e.target;
//     const formData = new FormData(form);
//     const data = Object.fromEntries(formData.entries());
//     formData.append("userId",cart.user)

//     try {
//         const response = await fetch('/address', {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json',
//             },
//             body: JSON.stringify(data),
//         });

//         const result = await response.json();

//         if(result.success){
//             // Close the modal
//             const modal = bootstrap.Modal.getInstance(document.getElementById('addressShow'));
//             modal.hide();

//             // Add the new address dynamically to the address list
//             addNewAddressToList(result.address);

//             // Optionally show success message
//             Swal.fire({
//                 icon: 'success',
//                 title: 'Address added!',
//                 showConfirmButton: false,
//                 timer: 1500
//             });
//         } else {
//             alert(result.error || "Something went wrong!");
//         }
//     } catch(err){
//         console.error(err);
//     }
// });

</script>

<%- include('footer') %>