<%- include('userHeader') %>
<%- include('userNavBar') %>

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 2 ================================= -->
<div class="row">
<main class="col-md-6">
<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Cart Details</h4>
	<% let total,grandTotal,discount,amount	 %>
	<%  grandTotal = discount = 0 %>
	<div class="row">
		<% cart.items.forEach((item) => { %>
		 <div class="col-sm-6">
		 	<figure class="itemside mb-4">
			   <div class="aside"><img src="/images/productImages/<%= item.product.image[0] %>" class="border img-sm"></div>
				<figcaption class="info">
					<p><%= item.product.productName %> </p>
					   <% item.product.varient.forEach((val) => { %> 
						<% if(val.size === item.size) { %>
							<% total = val.price * item.quantity %>
							<% grandTotal+= total %>
							<% discount += item.quantity * val.discount %>
					        <span class="text-muted"><%= item.quantity %>x<%= val.price %> = <%= total %> </span>
						  <% %>
					  <% } %>
					<% }) %>	
				</figcaption>
			</figure>
		  </div> <!-- col.// -->
	  <% }) %>
	</div>
     <div class="row">
	   <article class="card mb-4">
		<div class="toggle_info">
			  <span>
				  <i class="fi-rs-label mr-10"></i>
				  <span class="text-muted">Have a coupon?</span>
				  <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a>
			  </span>
		  </div>
		  <div class="panel-collapse collapse coupon_form" id="coupon">
			  <div class="panel-body">
				  <p class="mb-30 font-sm">Available Coupons:</p>
				  <div class="row row-cols-1 row-cols-md-2 ">
					  <% coupon.forEach(function(value) { %>
						  <% if(value.isListed) { %>
						  <% if(value.minimumAmount <= total ){ %> 
						  <div class="col mb-3">
							  <div class="card border border-success">
								  <div class="card-body bg-light-green">
									  <a data-toggle="tooltip" data-placement="top" title="<%= value.description %>---- Discount :: <%= value.maximumAmount %>---Minimum Purchase:: <%= value.minimumAmount %>">
										  <h5 class="card-title text-coconut-green"><strong>Coupon: <%= value.coupon %></strong></h5>
									  </a>
								  </div>
							  </div>
						  </div>
						  <% } else { %> 
							  <div class="col mb-3">
								  <div class="card border border-success">
									  <div class="card-body bg-light-green">
										  <a data-toggle="tooltip" data-placement="top" title="<%= value.description %> --Discount :: <%= value.maximumAmount %>Minimum Purchase-- <%= value.minimumAmount %>">
											  <h5 class="card-title text-red"><strong>Coupon: <%= value.coupon %></strong></h5>
										  <a>
									  </div>
								  </div>
							  </div>
						  <% } %>
						  <% } %>
					  <% }); %>
				  </div>
				  <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
					  <div class="form-group">
						  <input type="text" placeholder="Enter Coupon Code..." id="inpCoupon" class="form-control" name="coupon">
						  <div role="alert" class="alert-danger" id="errorCoupon"></div>
					  </div>
					  <div class="form-group">
						  <button class="btn btn-secondary btn-md" id="btnApplyCoupon" onclick="applyCoupon()">Apply Coupon</button>
					  </div>
				   <div id="couponDetails">
				  </div>
			  </div>
		  </div>
		</article>
	  </div>
	  
  </div>
	</article>
	</main>
   </div> <!-- card-body.// -->
    	 <form action="/placeOrder" method="post" onsubmit="return validateForm()" id="orderForm">
			<div class="row">
				<!-- Delivery Address Card -->
				<div class="card col-md-6 m-2">
					<div class="card-body">
						<h4 class="card-title mb-4">Choose Delivery Address</h4>
						<% if(address) { %>
						<div class="row">
							<% address.forEach((row) => { %>
							<div class="form-group col-md-12">
								<div class="col-md-6">
									<input type="radio" name="address" class="form-control" value="<%= row._id %>">
								</div>
								<div class="col-md-12">
									<h4><%= row.type %></h4>
									<p>
										<%= row.firstName + " " + row.lastName %><br>
										<%= row.house %><br>
										<%= row.landMark %><br>
										<%= row.street %>
										<%= row.palce %><br>
										<%= row.city %><br>
										<%= row.state %><br>
										<%= row.country %><br>
										<%= row.mobile %>
									</p>
								</div>
							</div>
							<% }) %>
						</div>
						<% } else { %>
						<!-- Display message if no address available -->
						<% } %>
						<div class="col-sm-3">
							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addressShow">
								Add Address
							</button>
						</div>
						<div role="alert" class="alert-danger" id="errorAddress"></div>
					</div>
				</div>
		
				<!-- Invoice Card -->
				<div class="card col-md-4 m-4">
					<div class="card-body">
						<article class="col-md-12">
							<div class="col-md-12 m-3">
								<% amount = grandTotal - discount %>
								<div class="card">
									<h6 class="card-title p-4">Invoice Amount</h6>
									<div class="card-body">
										<dl class="dlist-align">
											<dt>Total price:</dt>
											<dd class="text-right"><%= grandTotal %></dd>
										</dl>
										<dl class="dlist-align">
											<dt>Discount:</dt>
											<dd class="text-right"><%= discount %></dd>
										</dl>
										<dl class="dlist-align">
											<dt>GST:</dt>
											<dd id="gst" class="text-right"><%= (amount * 0.05).toFixed(2) %></dd>
										</dl>
										<dl class="dlist-align">
											<dt>Delivery Charges:</dt>
											<dd id="delivery" class="text-right">0</dd>
										</dl>
										<hr>
										<dl class="dlist-align">
											<dt>Total:</dt>
											<dd class="text-right text-dark b"><strong id="amountTotal"><%= amount %></strong></dd>
											<input type="hidden" id="totalAmount" value="<%= amount %>">
										</dl>
										<hr>
										<div id="couponContainer" style="display:none">
											<dl class="dlist-align">
												<dt class="text-green"><b>Coupon Applied</b></dt>
												<dd id="couponName"></dd>
											</dl>
											<dl class="dlist-align">
												<dt>Discount Amount:</dt>
												<dd id="damount"></dd>
											</dl>
											<dl class="dlist-align">
												<a href='/checkOut/<%= cart.user %>' class="text-red">Remove coupon</a>
											</dl>
											<hr>
											<dl class="dlist-align">
												<dt>Total:</dt>
												<% amount = grandTotal - discount %>
												<dd class="text-right text-dark b"><strong id="amount"><%= amount %></strong></dd>
												<input type="hidden" id="totalAmount" value="<%= amount %>">
												<input type="hidden" id="couponApplied" name="couponName">
												<input type="hidden" id="paymentFailed" name="isPaymentFailed">
											</dl>
										</div>
										<hr>
										<article class="card mb-4 p-4">
											<div class="card-body">
												<h6 class="card-title">Choose Payment Method</h6>
											</div>
											<div class="d-flex row">
												<input type="radio" name="paymentMethod" <% if(amount > 1000) { %> disabled <% } %> value="COD" id="cod">
												<h6 class="text-muted">Cash On Delivery</h6>
											</div>
											<div class="d-flex row">
												<input type="radio" name="paymentMethod" value="RazorPay" id="razorPay">
												<h6 class="text-muted">RazorPay</h6>
											</div>
											<div class="d-flex row">
												<input type="radio" name="paymentMethod" value="Wallet" id="Wallet">
												<h6 class="text-muted">Wallet</h6>
											</div>
											<div role="alert" class="alert-danger" id="errorPayment"></div>
										</article>
										<input type="submit" value="Place Order" class="btn btn-secondary">
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</form>
		
		</div> <!-- card.// -->
	 </div> 
	 </div> <!-- row.// -->

	   <!-- ============================ COMPONENT 2 END//  ================================= -->
	    
  </div>
  
</section>
<!-- accordion end.// -->
 <!-- Modal -->
 <div class="modal fade" id="addressShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<section>
		<div class="col-md-8 mb-4">
		  <div class="card mb-4">
			<div class="card-header py-3">
			  <h5 class="mb-0 text-font text-uppercase"> Add Address</h5>
			</div>
			<div class="card-body">
			  <form action="/saveAddress" method="POST" id="addressForm">
				  <div class="row mb-4">
				  <div class="col-md-6">
					<div data-mdb-input-init class="form-outline">
					  <input type="text" id="inpFirstName" class="form-control" name="fname"  required />
					  <label class="form-label" for="form11Example1">First name</label>
					</div>
				  </div>
				  <div class="col-md-6">
					<div data-mdb-input-init class="form-outline">
					  <input type="text" id="inpLastName" name="lname" class="form-control"  required />
					  <label class="form-label" for="form11Example2">Last name</label>
					 </div>
				  </div>
				</div>
				<div data-mdb-input-init class="form-outline mb-4">
					<input type="text" id="inpPhone" class="form-control"name="phone"  required />
					<label class="form-label" for="form11Example6">Phone</label>
				</div>
				 <!-- Radio Button Selection of TYPE -->
				 <label class="form-label" for="form11Example6"> Address Type </label>
				 <div data-mdb-input-init class="form-outline mb-4 p-2 form-grop d-flex row">
				 <div class="form-check ">
					<input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="Home" checked>
					<label class="form-check-label" for="exampleRadios1">
					  Home
					</label>
				  </div>
				  <div class="form-check">
					<input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Office">
					<label class="form-check-label" for="exampleRadios2">
					  Office
					</label>
				  </div>
				  <div class="form-check">
					<input class="form-check-input" type="radio" name="type" id="rbOther" value="Other">
					<label class="form-check-label" for="exampleRadios3">
					  Other
					</label>
				  </div>    
				</div>
				<!-- Text input -->
				<div data-mdb-input-init class="form-outline mb-4">
				  <input type="text" id="inpHouse" class="form-control" name="house" value="<%= address.house %>" required/>
				  <label class="form-label" for="form11Example3">House Name</label>
				</div>
				<div class="row mb-4">
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="inpLandMark" name="landMark" class="form-control" value="<%= address.landMark %>"/>
						<label class="form-label" for="form11Example1">Land Mark</label>
					  </div>
					</div>
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="inpStreet" name="street" class="form-control" value="<%= address.street %>"/>
						<label class="form-label" for="form11Example2">Street</label>
					  </div>
					</div>
				  </div>
				<!-- Text input -->
				<div class="row mb-4">
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="form11Example1" name="place" class="form-control" value="<%= address.place %>" required/>
						<label class="form-label" for="form11Example1">Place</label>
					  </div>
					</div>
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="form11Example2" name="city" class="form-control" value="<%= address.city %>" required/>
						<label class="form-label" for="form11Example2">City</label>
					  </div>
					</div>
				  </div>
				  <div class="row mb-4">
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="form11Example1" name="pincode" class="form-control" value="<%= address.pincode %>" required />
						<label class="form-label" for="form11Example1">Pincode</label>
					  </div>
					</div>
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="form11Example2" name="state" class="form-control" value="<%= address.state %>" required />
						<label class="form-label" for="form11Example2">State</label>
					  </div>
					</div>
				  </div>
				  <div class="row mb-4">
					<div class="col">
					  <div data-mdb-input-init class="form-outline">
						<input type="text" id="form11Example1" name="country" class="form-control" value="<%= address.country %>"  required/>
						<label class="form-label" for="form11Example1">Country</label>
					  </div>
					</div>
				  </div>
				 <!-- Checkbox -->
				<!-- <div class="form-check d-flex justify-content-center mb-2">
				  <input class="form-check-input me-2" type="checkbox" value="" id="form11Example8" checked />
				</div> -->
			</div>
			<div class="text-center">
				<input type="hidden" value="<%= cart.user %>" name="userId" > 
				<input type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary col-md-3" value="Save Address"/>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</form>
     </div>
  </div>
 </div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
        function applyCoupon(){ 
            event.preventDefault();
			console.log("Inside apply coupon");
			const inpCoupon = document.getElementById('inpCoupon').value.trim();
			document.getElementById('couponName').innerText =inpCoupon;
			const total=document.getElementById('totalAmount').value;
			if(inpCoupon === ""){
				 document.getElementById('errorCoupon').innerHTML="Please input coupon code !!";
				 return;
			}
			fetch(`/applyCoupon/${inpCoupon}/${total}`,{
				method:'get',
			    headers:{'Content-Type':'application/json'},
			}).then(response => response.json())
			.then(data => {
				 if(data.error){
					Swal.fire({
  							position: "top-end",
							icon: "error",
 							title: "You are not Eligible to apply this coupon !!",
  							showConfirmButton: false,
  							timer: 1500
						});
				 }else{
					Swal.fire({
  							position: "top-end",
							icon: "success",
 							title: "Coupon Successfully applied !",
  							showConfirmButton: false,
  							timer: 1500
						});
					// const addressModal = document.getElementById('addressShow');
					// const modalInstance = 	bootstrap.Modal.getInstance(addressModal);
					// modalInstance.hide();
			
                    updateCouponData(data);
					document.getElementById('coupon').style.display='none';
			     }
			}).catch(err  => {
				 console.log("Error occured !!"+err);
			})
		}
    function updateCouponData(data){
       console.log("Update Coupon!!");
	   document.getElementById("couponContainer").style.display="block";   
	   document.getElementById('damount').innerText = data.discountAmount;
	   document.getElementById('amount').innerText = data.total;
	   document.getElementById('couponApplied').value=data.coupon;
	 }
   
	function validateForm(){
	   console.log("Inside validate form");
	   const selectedAddress = document.querySelector('input[name="address"]:checked');
	   const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
	   if(!selectedAddress ){
		Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Please Add an address.',
        });
        return;
	   }
	   if(!selectedPaymentMethod){
		Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Please Select any payment method !',
        });
        return;
	   }
   }
//----------------------------razorpay & wallet--------------------------------------------------------------------

const balance = '<%= wallet && wallet.balance ? wallet.balance : 0 %>;'

document.getElementById('orderForm').addEventListener('submit', async (e) => {
	e.preventDefault();
    var selectedAddress = document.querySelector('input[name="address"]:checked');
    if (!selectedAddress) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Please Add an address.',
        });
        return;
    }
    const formData = new FormData(e.target);
    const paymentOption = formData.get('paymentMethod');
	console.log('Payment option !! paymentMethod :: '+paymentOption);
	if(paymentOption === 'COD'){
		 e.target.submit();
	}
    if (paymentOption === 'RazorPay' || paymentOption === 'Wallet' ) { 
		console.log("Inside Paymet Razorpay !!!");
         if (paymentOption === 'Wallet'){
            const totalPriceTd = document.querySelector("#amount");
            const totalPriceText = totalPriceTd.textContent.trim().replace('₹', '');
            const totalPrice = parseFloat(totalPriceText);
            const walletBalance = parseFloat(balance); 
        if(walletBalance>=totalPrice){
            e.target.submit();
        }else{
     		  Swal.fire({
       				 icon: 'error',
       				 title: 'Insufficient Balance',
      				 text: 'Insufficient balance in your wallet. Please choose a different payment method or recharge your wallet.',
     				 showConfirmButton: false, // Hide the "OK" button
      				 timer: 3000 // Auto-close the alert after 3 seconds
      			 });
       			 return; 
        }}
        const totalPriceTd = document.querySelector("#amount");
        const totalPriceText = totalPriceTd.textContent.trim().replace('₹', '');
        const totalPrice = parseFloat(totalPriceText);
        console.log("----RazorPay------");
        var options = {
            key: 'rzp_test_RFA9E8G1qbwK0g',
            amount: totalPrice * 100,
            currency: "INR",
            name: "Organic Life",
            description: "Purchase Description",
            image: "https://example.com/logo.png",

            handler: function (response) {
                console.log(response);
                console.log("Payment successful");
				document.getElementById('paymentFailed').value = false;
				console.log("Payment successful"+ document.getElementById('paymentFailed').value );
                e.target.submit();
            },
            prefill: {
                name: "<%= userData.name %>",
                email: "<%= userData.email %>",
                contact: "<%= userData.mobile %>",
            },
            theme: {
                color: "#3399cc",
            },
        };
        var rzp = new Razorpay(options);
        rzp.open();

//-----------------------------------------------------------        
   rzp.on("payment.failed", function (response){
	document.getElementById('paymentFailed').value = true;
    console.log("Payment failed");
	e.target.submit();
 })
}
});

</script>

<%- include('footer') %>