<%- include('userHeader') %>
<%- include('userNavBar') %>

<section class="section-conten padding-y bg">

<div class="container">
    <div class="row">
    <aside class="col-md-3">
        <ul class="list-group">
        <% 
            // Ensure activeRoute is defined, defaults to an empty string
            const activeRoute = typeof currentRoute !== 'undefined' ? currentRoute : ''; 
        %>
            <% /* List Group Menu with Active Class Logic */ %>
            <a class="list-group-item <%= activeRoute === '/userProfile' ? 'active' : '' %>" href="/userProfile">My Profile </a>
            <a class="list-group-item <%= activeRoute === '/editUserProfile' ? 'active' : '' %>" href="/editUserProfile">Edit Profile </a>
            <a class="list-group-item <%= activeRoute === '/userOrder' ? 'active' : '' %>" href="/userOrder">Orders</a>
        </ul>
        <br>
        <a class="btn btn-light btn-block" href="/logout"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    </aside>
    
    <main class="col-md-9">
        <article class="card">
            <header class="card-header">
                <h2 class="d-inline-block mr-3">Profile Overview </h2>
                <% if(message && message.success) { %>
                    <div role="alert" class="alert alert-success">
                        <%= message.success %>
                    </div>
                <% } %>
            </header>
            <div class="card-body">
                <% /* ------------------ User Details Section ------------------ */ %>
                <div class="row mb-4">
                    <div class="col-md-3"><label class="form-label">Name </label></div>
                    <div class="col-md-9"><label class="form-label font-weight-bold"><%= userData.name %></label></div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3"><label class="form-label">Email </label></div>
                    <div class="col-md-9"><label class="form-label font-weight-bold"><%= userData.email %></label></div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3"><label class="form-label">Phone Number </label></div>
                    <div class="col-md-9"><label class="form-label font-weight-bold"><%= userData.mobile %></label></div>
                </div>

                <hr class="my-4">

                <% /* ------------------ Address List Section ------------------ */ %>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <h5 class="form-label font-weight-bold">Saved Addresses</h5>
                    </div>
                    
                    <div class="col-md-9">
                        <div class="row">
                            <% address.forEach((row) => { %>
                            <div class="col-lg-6 col-md-12 mb-4">
                                <div class="card shadow-sm border-primary">
                                    <div class="card-body">
                                        <h6 class="card-title text-uppercase text-info"><%= row.type || 'Address' %></h6>
                                        <p class="card-text mb-1"> 
                                            <strong><%= row.firstName + " " + row.lastName %></strong> <br>
                                            <%= row.house %>, <%= row.street %> (L.M: <%= row.landMark || 'N/A' %>) <br>
                                            <%= row.palce %>, <%= row.city %> - <%= row.pincode %> <br>
                                            <%= row.state %>, <%= row.country %> <br> 
                                            Phone: <%= row.mobile %>
                                        </p>
                                        <a href="/editAddress/<%= userData._id %>/<%= row._id %>" class="btn btn-sm btn-outline-primary mt-2">
                                            <i class="fa fa-edit"></i> Edit Address
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center mt-3">
                        <button class="btn btn-secondary" onclick="displayAddress()">ADD NEW ADDRESS</button>
                    </div> 
                </div>

            </div>
        </article> 
        
        <div id="addressBox" style="display: none;" >
            <div class="container my-5 py-5">
                <section>
                    <div class="card mb-4">
                        <div class="card-header py-3">
                          <h5 class="mb-0 text-font text-uppercase"> Add New Address</h5>
                        </div>
                        <div class="card-body">
                          <form action="/saveAddress" method="post">
                            <div class="row mb-4">
                              <div class="col">
                                <div data-mdb-input-init class="form-outline">
                                  <input type="text" id="inpFirstName" class="form-control" name="fname" required />
                                  <label class="form-label" for="form11Example1">First name</label>
                                </div>
                              </div>
                              <div class="col">
                                <div data-mdb-input-init class="form-outline">
                                  <input type="text" id="inpLastName" name="lname" class="form-control" required />
                                  <label class="form-label" for="form11Example2">Last name</label>
                                  <input type="hidden" value="<%= userData._id %>" name="userId">
                                </div>
                              </div>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="number" id="inpPhone" class="form-control"name="phone" required />
                                <label class="form-label" for="form11Example6">Phone</label>
                            </div>
                            
                            <% /* Radio Button Selection of TYPE */ %>
                            <label class="form-label" for="form11Example6"> Address Type </label>
                            <div data-mdb-input-init class="form-outline mb-4 p-2 form-grop d-flex row">
                                <div class="form-check mr-3">
                                  <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="Home" checked>
                                  <label class="form-check-label" for="exampleRadios1">Home</label>
                                </div>
                                <div class="form-check mr-3">
                                  <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Office">
                                  <label class="form-check-label" for="exampleRadios2">Office</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="type" id="rbOther" value="Other">
                                  <label class="form-check-label" for="exampleRadios3">Other</label>
                                </div> 
                            </div>
                            
                            <% /* Text inputs for address details */ %>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" id="inpHouse" class="form-control" name="house" required/>
                                <label class="form-label" for="form11Example3">House Name/No</label>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="inpLandMark" name="landMark" class="form-control" />
                                        <label class="form-label" for="form11Example1">Land Mark</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="inpStreet" name="street" class="form-control" />
                                        <label class="form-label" for="form11Example2">Street/Area</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form11Example1" name="place" class="form-control" required/>
                                        <label class="form-label" for="form11Example1">Place</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form11Example2" name="city" class="form-control" required/>
                                        <label class="form-label" for="form11Example2">City</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form11Example1" name="pincode" class="form-control" required />
                                        <label class="form-label" for="form11Example1">Pincode</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form11Example2" name="state" class="form-control" required />
                                        <label class="form-label" for="form11Example2">State</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form11Example1" name="country" class="form-control" required/>
                                        <label class="form-label" for="form11Example1">Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <input type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary col-sm-6" value="Save Address"/>
                            <button type="button" class="btn btn-outline-secondary col-sm-4" onclick="document.getElementById('addressBox').style.display='none'">Cancel</button>
                        </div>
                      </form>
                    </div>
                </section>
             </div>
        </div>
    </main>
</div> </div>
</section>
        
<script>
    function displayAddress(){
        document.getElementById('addressBox').style.display="block";
    }
</script>
<%- include('footer') %>